<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Page</title>
</head>

<body>
    <h1>Driver Home Page</h1>
    <a href="/driver/dashboard">Dashboard</a>
    <a href="/driver/login">Login</a>
    <a href="/driver/register">Register</a>
    <a href="/driver/deliver">Deliver</a>
    <a href="/driver/orders">Orders</a>

</body>

</html>