<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Login</title>
     <!-- Global CSS -->
    <link rel="stylesheet" href="/css/global.css">
    <!-- Driver-specific CSS -->
    <link rel="stylesheet" href="/css/driver.css">
</head>
<body>
    <h1>Driver Login</h1>
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
    <form action="/driver/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    <a href="/driver/register">Don't have an account? Register here</a>
</body>
</html>