<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
       form {
           display:flex;
           flex-direction: column;
           gap:8px;
           width:300px;
       }
   </style>
</head>
<body>
   <h1>Add a Test</h1>
   <!-- when button is pressed, send form data 
    to a POST endpont called /receivedata -->
   <form action="/receivedata" method="POST">
       <!-- TODO: Insert your form fields here -->
        <input type="text" placeholder="Enter Test 1" name="test1textbox"/>
        <input type="text" placeholder="Enter Test 2" name="test2textbox"/>
       <button>Insert</button>
   </form>
</body>
</html>